> World Happiness Report

In [1]:
%pip install collections

ERROR: Could not find a version that satisfies the requirement collections (from versions: none)
ERROR: No matching distribution found for collections
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas

In [68]:
data = pandas.read_csv("Cantril_Scores.csv")
happiness_data = pandas.DataFrame(data)

In [69]:
happiness_data = happiness_data[happiness_data['Year'] >= 2019]
happiness_data

           Entity Code  Year  Cantril ladder score
12    Afghanistan  AFG  2019                2.5229
13    Afghanistan  AFG  2020                2.4038
14    Afghanistan  AFG  2021                1.8590
28        Albania  ALB  2019                5.1174
29        Albania  ALB  2020                5.1988
...           ...  ...   ...                   ...
2361       Zambia  ZMB  2020                3.7598
2362       Zambia  ZMB  2021                3.9822
2378     Zimbabwe  ZWE  2019                3.1448
2379     Zimbabwe  ZWE  2020                2.9951
2380     Zimbabwe  ZWE  2021                3.2035

[432 rows x 4 columns]

In [72]:
arr = []
for name in happiness_data['Entity']:
    if name not in arr:
        arr.append(name)

print(len(arr), '\n', arr)

150
 ['Afghanistan', 'Albania', 'Algeria', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Eswatini', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Northern Cyprus', 'Norway', 'Pakistan', 'Palestine', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [13]:
data = pandas.read_csv("total_deaths.csv")
df = pandas.DataFrame(data)

In [14]:
df = df.iloc[12:]
df = df.iloc[::60, :]

In [15]:
df

,date,World,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
12,2020-01-15,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,2020-03-15,6132.0,NaN,9.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
132,2020-05-14,314200.0,136.0,2853.0,31.0,519.0,NaN,49.0,NaN,NaN,...,19.0,11.0,NaN,NaN,10.0,NaN,NaN,13.0,9.0,8.0
192,2020-07-13,622576.0,1016.0,16062.0,89.0,999.0,NaN,52.0,26.0,NaN,...,30.0,61.0,NaN,NaN,85.0,NaN,NaN,418.0,83.0,22.0
252,2020-09-11,996194.0,1424.0,34706.0,322.0,1589.0,NaN,53.0,130.0,NaN,...,45.0,375.0,NaN,NaN,452.0,35.0,NaN,581.0,301.0,223.0
312,2020-11-10,1361000.0,1574.0,46780.0,559.0,2062.0,NaN,75.0,308.0,NaN,...,62.0,588.0,NaN,NaN,826.0,35.0,NaN,602.0,349.0,255.0
372,2021-01-09,2043916.0,2264.0,71743.0,1223.0,2798.0,NaN,84.0,415.0,NaN,...,231.0,616.0,NaN,NaN,1052.0,35.0,NaN,611.0,441.0,468.0
432,2021-03-10,2743296.0,2451.0,106682.0,1956.0,3022.0,NaN,112.0,516.0,NaN,...,658.0,622.0,NaN,NaN,1391.0,NaN,NaN,655.0,1137.0,1489.0
492,2021-05-09,3433542.0,2686.0,124612.0,2408.0,3321.0,NaN,127.0,630.0,NaN,...,3032.0,662.0,NaN,NaN,2263.0,NaN,NaN,1271.0,1257.0,1576.0
552,2021-07-08,4029414.0,5477.0,149440.0,2456.0,3786.0,NaN,127.0,925.0,NaN,...,5735.0,760.0,NaN,NaN,3222.0,121.0,7.0,1364.0,2618.0,1973.0
612,2021-09-06,4601843.0,7141.0,200510.0,2512.0,5420.0,NaN,130.0,1270.0,NaN,...,6034.0,1120.0,NaN,NaN,4086.0,13074.0,7.0,1519.0,3616.0,4466.0
672,2021-11-05,5052048.0,7284.0,219621.0,2940.0,5936.0,NaN,130.0,1718.0,1.0,...,6080.0,1334.0,NaN,NaN,4925.0,22342.0,7.0,1901.0,3662.0,4685.0
732,2022-01-04,5471196.0,7364.0,229778.0,3220.0,6298.0,NaN,140.0,1775.0,5.0,...,6175.0,1485.0,NaN,NaN,5333.0,33021.0,7.0,1984.0,3753.0,5047.0
792,2022-03-05,6015579.0,7620.0,251102.0,3476.0,6852.0,NaN,151.0,1900.0,9.0,...,7014.0,1637.0,NaN,NaN,5643.0,40644.0,7.0,2135.0,3958.0,5397.0
852,2022-05-04,6257526.0,7683.0,253857.0,3496.0,6875.0,27.0,153.0,1900.0,9.0,...,7210.0,1637.0,13.0,NaN,5709.0,43044.0,7.0,2149.0,3976.0,5469.0
912,2022-07-03,6348308.0,7724.0,256093.0,3500.0,6875.0,31.0,153.0,1900.0,9.0,...,7351.0,1637.0,14.0,NaN,5734.0,43087.0,7.0,2149.0,4003.0,5558.0
972,2022-09-01,6483796.0,7778.0,257600.0,3582.0,6878.0,34.0,154.0,1917.0,11.0,...,7445.0,1637.0,14.0,NaN,5796.0,43117.0,7.0,2155.0,4016.0,5596.0
1032,2022-10-31,6580788.0,7821.0,258045.0,3593.0,6881.0,34.0,155.0,1918.0,12.0,...,7518.0,1637.0,14.0,NaN,5820.0,43163.0,7.0,2158.0,4017.0,5610.0
1092,2022-12-30,6696006.0,7847.0,258501.0,3596.0,6881.0,34.0,158.0,1930.0,12.0,...,7562.0,1637.0,14.0,NaN,5831.0,43184.0,7.0,2159.0,4023.0,5636.0
1152,2023-02-28,6863075.0,7879.0,258742.0,3598.0,6881.0,34.0,159.0,1933.0,12.0,...,7617.0,1637.0,14.0,NaN,5853.0,43186.0,7.0,2159.0,4057.0,5669.0

In [16]:
df = df.drop('date', axis=1)
df.fillna(0, inplace=True)

In [17]:
df

,World,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
12,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
72,6132.0,0.0,9.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
132,314200.0,136.0,2853.0,31.0,519.0,0.0,49.0,0.0,0.0,3.0,...,19.0,11.0,0.0,0.0,10.0,0.0,0.0,13.0,9.0,8.0
192,622576.0,1016.0,16062.0,89.0,999.0,0.0,52.0,26.0,0.0,3.0,...,30.0,61.0,0.0,0.0,85.0,0.0,0.0,418.0,83.0,22.0
252,996194.0,1424.0,34706.0,322.0,1589.0,0.0,53.0,130.0,0.0,3.0,...,45.0,375.0,0.0,0.0,452.0,35.0,0.0,581.0,301.0,223.0
312,1361000.0,1574.0,46780.0,559.0,2062.0,0.0,75.0,308.0,0.0,3.0,...,62.0,588.0,0.0,0.0,826.0,35.0,0.0,602.0,349.0,255.0
372,2043916.0,2264.0,71743.0,1223.0,2798.0,0.0,84.0,415.0,0.0,5.0,...,231.0,616.0,0.0,0.0,1052.0,35.0,0.0,611.0,441.0,468.0
432,2743296.0,2451.0,106682.0,1956.0,3022.0,0.0,112.0,516.0,0.0,22.0,...,658.0,622.0,0.0,0.0,1391.0,0.0,0.0,655.0,1137.0,1489.0
492,3433542.0,2686.0,124612.0,2408.0,3321.0,0.0,127.0,630.0,0.0,32.0,...,3032.0,662.0,0.0,0.0,2263.0,0.0,0.0,1271.0,1257.0,1576.0
552,4029414.0,5477.0,149440.0,2456.0,3786.0,0.0,127.0,925.0,0.0,42.0,...,5735.0,760.0,0.0,0.0,3222.0,121.0,7.0,1364.0,2618.0,1973.0
612,4601843.0,7141.0,200510.0,2512.0,5420.0,0.0,130.0,1270.0,0.0,46.0,...,6034.0,1120.0,0.0,0.0,4086.0,13074.0,7.0,1519.0,3616.0,4466.0
672,5052048.0,7284.0,219621.0,2940.0,5936.0,0.0,130.0,1718.0,1.0,104.0,...,6080.0,1334.0,0.0,0.0,4925.0,22342.0,7.0,1901.0,3662.0,4685.0
732,5471196.0,7364.0,229778.0,3220.0,6298.0,0.0,140.0,1775.0,5.0,119.0,...,6175.0,1485.0,0.0,0.0,5333.0,33021.0,7.0,1984.0,3753.0,5047.0
792,6015579.0,7620.0,251102.0,3476.0,6852.0,0.0,151.0,1900.0,9.0,135.0,...,7014.0,1637.0,0.0,0.0,5643.0,40644.0,7.0,2135.0,3958.0,5397.0
852,6257526.0,7683.0,253857.0,3496.0,6875.0,27.0,153.0,1900.0,9.0,137.0,...,7210.0,1637.0,13.0,0.0,5709.0,43044.0,7.0,2149.0,3976.0,5469.0
912,6348308.0,7724.0,256093.0,3500.0,6875.0,31.0,153.0,1900.0,9.0,141.0,...,7351.0,1637.0,14.0,0.0,5734.0,43087.0,7.0,2149.0,4003.0,5558.0
972,6483796.0,7778.0,257600.0,3582.0,6878.0,34.0,154.0,1917.0,11.0,145.0,...,7445.0,1637.0,14.0,0.0,5796.0,43117.0,7.0,2155.0,4016.0,5596.0
1032,6580788.0,7821.0,258045.0,3593.0,6881.0,34.0,155.0,1918.0,12.0,146.0,...,7518.0,1637.0,14.0,0.0,5820.0,43163.0,7.0,2158.0,4017.0,5610.0
1092,6696006.0,7847.0,258501.0,3596.0,6881.0,34.0,158.0,1930.0,12.0,146.0,...,7562.0,1637.0,14.0,0.0,5831.0,43184.0,7.0,2159.0,4023.0,5636.0
1152,6863075.0,7879.0,258742.0,3598.0,6881.0,34.0,159.0,1933.0,12.0,146.0,...,7617.0,1637.0,14.0,0.0,5853.0,43186.0,7.0,2159.0,4057.0,5669.0

In [18]:
cdata = pandas.read_csv("population_by_country_2020.csv")

In [19]:
cdata

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/KmÂ²),Land Area (KmÂ²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1438207241,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1377233523,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,330610570,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,272931713,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,219992900,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,4991,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3458,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1624,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1354,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [20]:
cdata = cdata.iloc[:, :2]

In [24]:
normalized_deaths_df = pandas.DataFrame(index=df.index, columns=df.columns)

In [33]:
cdata
cdata.loc[cdata['Country (or dependency)'] == "Uruguay"]

    Country (or dependency)  Population (2020)
133                 Uruguay            3471314

In [28]:
for country in df.columns:
    population_series = cdata.loc[cdata['Country (or dependency)'] == country, 'Population (2020)']
    
    if not population_series.empty:
        population = population_series.values[0]
        normalized_deaths_df[country] = df[country] / population
    else:
        print(f"Population data not found for {country}")

Population data not found for World
Population data not found for Africa
Population data not found for Asia
Population data not found for Bonaire Sint Eustatius and Saba
Population data not found for Cape Verde
Population data not found for Cote d'Ivoire
Population data not found for Curacao
Population data not found for Czechia
Population data not found for Democratic Republic of Congo
Population data not found for Europe
Population data not found for European Union
Population data not found for Guernsey
Population data not found for High income
Population data not found for Jersey
Population data not found for Kosovo
Population data not found for Low income
Population data not found for Lower middle income
Population data not found for Micronesia (country)
Population data not found for North America
Population data not found for Oceania
Population data not found for Palestine
Population data not found for Pitcairn
Population data not found for Reunion
Population data not found for Saint Kitts and Nevis
Population data not found for Saint Martin (French part)
Population data not found for Saint Pierre and Miquelon
Population data not found for Saint Vincent and the Grenadines
Population data not found for Sao Tome and Principe
Population data not found for Sint Maarten (Dutch part)
Population data not found for South America
Population data not found for Timor
Population data not found for Turks and Caicos Islands
Population data not found for United States Virgin Islands
Population data not found for Upper middle income
Population data not found for Vatican
Population data not found for Wallis and Futuna

In [31]:
normalized_deaths_df.fillna(0, inplace=True)

In [32]:
normalized_deaths_df * 100

,World,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
12,0,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0,0.000000,0.000000,0,0.000000,0.000000,0.000000
72,0,0.000000,0,0.000035,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0,0.000000,0.000000,0,0.000000,0.000000,0.000034
132,0,0.000351,0,0.001077,0.001188,0.000000,0.063439,0.000000,0.000000,0.003069,...,0.000547,0.000033,0.000000,0,0.000035,0.000000,0,0.000044,0.000049,0.000054
192,0,0.002622,0,0.003092,0.002287,0.000000,0.067323,0.000080,0.000000,0.003069,...,0.000864,0.000183,0.000000,0,0.000299,0.000000,0,0.001408,0.000454,0.000148
252,0,0.003676,0,0.011187,0.003637,0.000000,0.068617,0.000398,0.000000,0.003069,...,0.001296,0.001124,0.000000,0,0.001589,0.000036,0,0.001957,0.001647,0.001505
312,0,0.004063,0,0.019420,0.004720,0.000000,0.097100,0.000943,0.000000,0.003069,...,0.001786,0.001762,0.000000,0,0.002903,0.000036,0,0.002028,0.001910,0.001721
372,0,0.005844,0,0.042489,0.006405,0.000000,0.108752,0.001271,0.000000,0.005114,...,0.006655,0.001846,0.000000,0,0.003697,0.000036,0,0.002058,0.002413,0.003158
432,0,0.006326,0,0.067954,0.006918,0.000000,0.145003,0.001581,0.000000,0.022503,...,0.018955,0.001864,0.000000,0,0.004889,0.000000,0,0.002206,0.006222,0.010048
492,0,0.006933,0,0.083657,0.007602,0.000000,0.164423,0.001930,0.000000,0.032732,...,0.087344,0.001984,0.000000,0,0.007954,0.000000,0,0.004281,0.006879,0.010636
552,0,0.014137,0,0.085325,0.008666,0.000000,0.164423,0.002834,0.000000,0.042961,...,0.165211,0.002278,0.000000,0,0.011324,0.000125,0,0.004595,0.014327,0.013315
612,0,0.018432,0,0.087270,0.012407,0.000000,0.168307,0.003890,0.000000,0.047052,...,0.173825,0.003356,0.000000,0,0.014361,0.013456,0,0.005117,0.019788,0.030139
672,0,0.018801,0,0.102139,0.013588,0.000000,0.168307,0.005263,0.006677,0.106379,...,0.175150,0.003998,0.000000,0,0.017310,0.022995,0,0.006403,0.020040,0.031617
732,0,0.019007,0,0.111867,0.014417,0.000000,0.181253,0.005437,0.033387,0.121722,...,0.177887,0.004450,0.000000,0,0.018744,0.033986,0,0.006683,0.020538,0.034060
792,0,0.019668,0,0.120761,0.015685,0.000000,0.195495,0.005820,0.060096,0.138088,...,0.202056,0.004906,0.000000,0,0.019834,0.041832,0,0.007192,0.021660,0.036422
852,0,0.019831,0,0.121456,0.015737,0.048900,0.198084,0.005820,0.060096,0.140133,...,0.207702,0.004906,0.004254,0,0.020065,0.044302,0,0.007239,0.021758,0.036907
912,0,0.019937,0,0.121594,0.015737,0.056144,0.198084,0.005820,0.060096,0.144225,...,0.211764,0.004906,0.004581,0,0.020153,0.044346,0,0.007239,0.021906,0.037508
972,0,0.020076,0,0.124443,0.015744,0.061577,0.199379,0.005872,0.073451,0.148316,...,0.214472,0.004906,0.004581,0,0.020371,0.044377,0,0.007259,0.021977,0.037764
1032,0,0.020187,0,0.124825,0.015751,0.061577,0.200673,0.005875,0.080128,0.149339,...,0.216575,0.004906,0.004581,0,0.020456,0.044425,0,0.007269,0.021983,0.037859
1092,0,0.020254,0,0.124930,0.015751,0.061577,0.204557,0.005912,0.080128,0.149339,...,0.217843,0.004906,0.004581,0,0.020494,0.044446,0,0.007272,0.022016,0.038034
1152,0,0.020337,0,0.124999,0.015751,0.061577,0.205852,0.005921,0.080128,0.149339,...,0.219427,0.004906,0.004581,0,0.020572,0.044448,0,0.007272,0.022202,0.038257