In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
data_15 = pd.read_csv("2015.csv")
data_16 = pd.read_csv("2016.csv")
data_17 = pd.read_csv("2017.csv")
data_18 = pd.read_csv("2018.csv")
data_19 = pd.read_csv("2019.csv")
data_20 = pd.read_csv("2020.csv")
data_21 = pd.read_csv("2021.csv")
data_22 = pd.read_csv("2022.csv")

In [25]:
data_15 = data_15.iloc[:, :4]
data_16 = data_16.iloc[:, :4]
data_17 = data_17.iloc[:, :4]
data_18 = data_18.iloc[:, :4]
data_19 = data_19.iloc[:, :4]
data_20 = data_20.iloc[:, :4]
data_21 = data_21.iloc[:, :4]
data_22 = data_22.iloc[:, :4]

In [27]:
data_15['Year'] = 2015
data_16['Year'] = 2016
data_17['Year'] = 2017
data_18['Year'] = 2018
data_19['Year'] = 2019
data_20['Year'] = 2020
data_21['Year'] = 2021
data_22['Year'] = 2022

In [48]:
data_15 = data_15.drop(columns='Region')
data_16 = data_16.drop(columns='Region')

In [55]:
data_15

         Country  Happiness Rank  Happiness Score  Year
0    Switzerland               1            7.587  2015
1        Iceland               2            7.561  2015
2        Denmark               3            7.527  2015
3         Norway               4            7.522  2015
4         Canada               5            7.427  2015
..           ...             ...              ...   ...
153       Rwanda             154            3.465  2015
154        Benin             155            3.340  2015
155        Syria             156            3.006  2015
156      Burundi             157            2.905  2015
157         Togo             158            2.839  2015

[158 rows x 4 columns]

In [56]:
data_17 = data_17.drop(columns='Whisker.high')
data_17 = data_17.rename(columns={'Happiness.Rank': 'Happiness Rank', 'Happiness.Score': 'Happiness Score'})

In [62]:
data_18 = data_18.drop(columns='GDP per capita')
data_19 = data_19.drop(columns='GDP per capita')

In [66]:
data_20 = data_20.drop(columns='Regional indicator')
data_20 = data_20.drop(columns='Standard error of ladder score')
data_20 = data_20.rename(columns={'Ladder score	': 'Happiness Score'})

In [69]:
data_21 = data_21.drop(columns='Regional indicator')
data_21 = data_21.drop(columns='Standard error of ladder score')
data_21 = data_21.rename(columns={'Ladder score	': 'Happiness Score'})

In [74]:
data_22['Happiness score'] = data_22['Happiness score'].astype(float)
data_22['Happiness score'] = data_22['Happiness score'].div(1000)

ValueError: could not convert string to float: '7,821'

In [31]:
happy_df = pd.concat([data_15, data_16, data_17, data_18, data_19, data_20, data_21, data_22])

In [32]:
happy_df

,Country,Region,Happiness Rank,Happiness Score,Year,Happiness.Rank,Happiness.Score,Whisker.high,Overall rank,Country or region,Score,GDP per capita,Country name,Regional indicator,Ladder score,Standard error of ladder score,RANK,Happiness score,Whisker-high
0,Switzerland,Western Europe,1.0,7.587,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,Rwanda*,NaN,NaN,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,143.0,"3,268","3,462"
143,Zimbabwe,NaN,NaN,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144.0,"2,995","3,110"
144,Lebanon,NaN,NaN,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,"2,955","3,049"
145,Afghanistan,NaN,NaN,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.0,"2,404","2,469"
146,xx,NaN,NaN,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147.0,NaN,NaN