In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data_15 = pd.read_csv("2015.csv")
data_16 = pd.read_csv("2016.csv")
data_17 = pd.read_csv("2017.csv")
data_18 = pd.read_csv("2018.csv")
data_19 = pd.read_csv("2019.csv")
data_20 = pd.read_csv("2020.csv")
data_21 = pd.read_csv("2021.csv")
data_22 = pd.read_csv("2022.csv")

In [3]:
data_15 = data_15.iloc[:, :4]
data_16 = data_16.iloc[:, :4]
data_17 = data_17.iloc[:, :4]
data_18 = data_18.iloc[:, :4]
data_19 = data_19.iloc[:, :4]
data_20 = data_20.iloc[:, :4]
data_21 = data_21.iloc[:, :4]
data_22 = data_22.iloc[:, :4]

In [4]:
data_15['Year'] = 2015
data_16['Year'] = 2016
data_17['Year'] = 2017
data_18['Year'] = 2018
data_19['Year'] = 2019
data_20['Year'] = 2020
data_21['Year'] = 2021
data_22['Year'] = 2022

In [5]:
data_15 = data_15.drop(columns='Region')
data_15 = data_15.drop(columns='Happiness Rank')
data_16 = data_16.drop(columns='Region')
data_16 = data_16.drop(columns='Happiness Rank')

In [6]:
data_17 = data_17.drop(columns='Whisker.high')
data_17 = data_17.rename(columns={'Happiness.Rank': 'Happiness Rank', 'Happiness.Score': 'Happiness Score'})
data_17 = data_17.drop(columns='Happiness Rank')

In [7]:
data_18 = data_18.drop(columns='GDP per capita')
data_18 = data_18.drop(columns='Overall rank')
data_18 = data_18.rename(columns={'Country or region': 'Country'})
data_18 = data_18.rename(columns={'Score': 'Happiness Score'})
data_19 = data_19.drop(columns='GDP per capita')
data_19 = data_19.drop(columns='Overall rank')
data_19 = data_19.rename(columns={'Country or region': 'Country'})
data_19 = data_19.rename(columns={'Score': 'Happiness Score'})

In [8]:
data_20 = data_20.drop(columns='Regional indicator')
data_20 = data_20.drop(columns='Standard error of ladder score')
data_20 = data_20.rename(columns={'Ladder score': 'Happiness Score'})
data_20 = data_20.rename(columns={'Country name': 'Country'})
data_21 = data_21.drop(columns='Regional indicator')
data_21 = data_21.drop(columns='Standard error of ladder score')
data_21 = data_21.rename(columns={'Ladder score': 'Happiness Score'})
data_21 = data_21.rename(columns={'Country name': 'Country'})

In [9]:
data_22 = data_22.drop(columns='Whisker-high')
data_22 = data_22.drop(columns='RANK')
data_22 = data_22.drop(data_22.index[-1])
data_22 = data_22.rename(columns={'Happiness score': 'Happiness Score'})
data_22['Happiness Score'] = data_22['Happiness Score'].str.replace(',', '').astype(float)
data_22['Happiness Score'] = data_22['Happiness Score'] / 1000

In [10]:
happy_df = pd.concat([data_15, data_16, data_17, data_18, data_19, data_20, data_21, data_22])
happy_df['Country'] = data_22['Country'].replace('*', '') #not working

In [17]:
population_df = pd.read_csv("population_by_country_2020.csv")
population_df = population_df.iloc[:, :2]
population_df

    Country (or dependency)  Population (2020)
0                     China         1438207241
1                     India         1377233523
2             United States          330610570
3                 Indonesia          272931713
4                  Pakistan          219992900
..                      ...                ...
230              Montserrat               4991
231        Falkland Islands               3458
232                    Niue               1624
233                 Tokelau               1354
234                Holy See                801

[235 rows x 2 columns]

In [24]:
data = pd.read_csv("total_deaths.csv")
death_df = pd.DataFrame(data)
death_df = death_df.iloc[12:]
death_df = death_df.iloc[::60, :]
death_df.fillna(0, inplace=True)

In [31]:
pop_series = population_df.set_index('Country (or dependency)')['Population (2020)']
death_div_pop = death_df.div(pop_series, axis=1)
death_div_pop.fillna(0, inplace=True)

,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,...,Venezuela,Vietnam,Wallis & Futuna,Wallis and Futuna,Western Sahara,World,Yemen,Zambia,Zimbabwe,date
12,0.000000,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,...,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0
72,0.000000,0.0,3.474128e-07,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,1.995069e-07,...,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,3.374239e-07,0
132,0.000004,0.0,1.076980e-05,0.000012,0.000000,0.000634,0.000000e+00,0.000000,0.000031,1.616006e-05,...,3.514713e-07,0.000000e+00,0.0,0.0,0.0,0.0,4.378990e-07,4.925197e-07,5.398782e-07,0
192,0.000026,0.0,3.091974e-05,0.000023,0.000000,0.000673,7.964519e-07,0.000000,0.000031,1.282164e-04,...,2.987506e-06,0.000000e+00,0.0,0.0,0.0,0.0,1.408014e-05,4.542127e-06,1.484665e-06,0
252,0.000037,0.0,1.118669e-04,0.000036,0.000000,0.000686,3.982260e-06,0.000000,0.000031,4.824741e-04,...,1.588650e-05,3.602301e-07,0.0,0.0,0.0,0.0,1.957071e-05,1.647205e-05,1.504910e-05,0
312,0.000041,0.0,1.942038e-04,0.000047,0.000000,0.000971,9.434892e-06,0.000000,0.000031,9.097735e-04,...,2.903153e-05,3.602301e-07,0.0,0.0,0.0,0.0,2.027809e-05,1.909882e-05,1.720862e-05,0
372,0.000058,0.0,4.248859e-04,0.000064,0.000000,0.001088,1.271260e-05,0.000000,0.000051,1.106443e-03,...,3.697478e-05,3.602301e-07,0.0,0.0,0.0,0.0,2.058125e-05,2.413347e-05,3.158287e-05,0
432,0.000063,0.0,6.795395e-04,0.000069,0.000000,0.001450,1.580651e-05,0.000000,0.000225,1.299167e-03,...,4.888965e-05,0.000000e+00,0.0,0.0,0.0,0.0,2.206337e-05,6.222166e-05,1.004848e-04,0
492,0.000069,0.0,8.365701e-04,0.000076,0.000000,0.001644,1.929864e-05,0.000000,0.000327,1.744156e-03,...,7.953795e-05,0.000000e+00,0.0,0.0,0.0,0.0,4.281304e-05,6.878859e-05,1.063560e-04,0
552,0.000141,0.0,8.532459e-04,0.000087,0.000000,0.001644,2.833531e-05,0.000000,0.000430,2.377878e-03,...,1.132440e-04,1.245367e-06,0.0,0.0,0.0,0.0,4.594571e-05,1.432685e-04,1.331475e-04,0
612,0.000184,0.0,8.727010e-04,0.000124,0.000000,0.001683,3.890361e-05,0.000000,0.000471,2.568717e-03,...,1.436112e-04,1.345614e-04,0.0,0.0,0.0,0.0,5.116681e-05,1.978835e-04,3.013870e-04,0
672,0.000188,0.0,1.021394e-03,0.000136,0.000000,0.001683,5.262709e-05,0.000067,0.001064,2.590929e-03,...,1.730996e-04,2.299503e-04,0.0,0.0,0.0,0.0,6.403430e-05,2.004008e-04,3.161662e-04,0
732,0.000190,0.0,1.118669e-03,0.000144,0.000000,0.001813,5.437316e-05,0.000334,0.001217,2.627594e-03,...,1.874396e-04,3.398616e-04,0.0,0.0,0.0,0.0,6.683012e-05,2.053807e-04,3.405957e-04,0
792,0.000197,0.0,1.207607e-03,0.000157,0.000000,0.001955,5.820226e-05,0.000601,0.001381,2.840446e-03,...,1.983352e-04,4.183197e-04,0.0,0.0,0.0,0.0,7.191648e-05,2.165992e-04,3.642153e-04,0
852,0.000198,0.0,1.214555e-03,0.000157,0.000489,0.001981,5.820226e-05,0.000601,0.001401,2.851906e-03,...,2.006549e-04,4.430212e-04,0.0,0.0,0.0,0.0,7.238807e-05,2.175843e-04,3.690742e-04,0
912,0.000199,0.0,1.215945e-03,0.000157,0.000561,0.001981,5.820226e-05,0.000601,0.001442,2.862015e-03,...,2.015336e-04,4.434638e-04,0.0,0.0,0.0,0.0,7.238807e-05,2.190618e-04,3.750804e-04,0
972,0.000201,0.0,1.244433e-03,0.000157,0.000616,0.001994,5.872301e-05,0.000735,0.001483,2.875359e-03,...,2.037127e-04,4.437726e-04,0.0,0.0,0.0,0.0,7.259017e-05,2.197733e-04,3.776448e-04,0
1032,0.000202,0.0,1.248254e-03,0.000158,0.000616,0.002007,5.875365e-05,0.000801,0.001493,2.881566e-03,...,2.045563e-04,4.442460e-04,0.0,0.0,0.0,0.0,7.269123e-05,2.198280e-04,3.785896e-04,0
1092,0.000203,0.0,1.249296e-03,0.000158,0.000616,0.002046,5.912124e-05,0.000801,0.001493,2.884515e-03,...,2.049429e-04,4.444622e-04,0.0,0.0,0.0,0.0,7.272491e-05,2.201563e-04,3.803442e-04,0
1152,0.000203,0.0,1.249991e-03,0.000158,0.000616,0.002059,5.921314e-05,0.000801,0.001493,2.892029e-03,...,2.057161e-04,4.444827e-04,0.0,0.0,0.0,0.0,7.272491e-05,2.220170e-04,3.825712e-04,0

In [39]:
highest_vals = death_div_pop.iloc[-1].nlargest(10)
highest_cols = highest_vals.index.tolist()
print(highest_cols)

['Peru', 'Bulgaria', 'Hungary', 'Bosnia and Herzegovina', 'North Macedonia', 'Montenegro', 'Slovenia', 'Croatia', 'Georgia', 'Slovakia']